@font-face {
  font-family: "TitilliumText22L_light";
  src: url("../fonts/TitilliumText22L_light.otf") format("opentype");
}
@font-face {
  font-family: "TitilliumText22L_medium";
  src: url("../fonts/TitilliumText22L_medium.otf") format("opentype");
}
/* line 1, ../scss/_page-styles.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 5, ../scss/_page-styles.scss */
html {
  font-family: "TitilliumText22L_light";
  font-size: 10px;
}

/* line 10, ../scss/_page-styles.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_page-styles.scss */
.background {
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 22, ../scss/_page-styles.scss */
.logo1 {
  display: block;
  margin: 0 auto;
  mix-blend-mode: soft-light;
  padding-top: 5.5rem;
  max-width: 100%;
}

/* line 30, ../scss/_page-styles.scss */
.logo2 {
  display: block;
  margin: 0 auto;
  mix-blend-mode: soft-light;
  padding: 6rem 0 3.5rem;
  max-width: 100%;
}

/* line 38, ../scss/_page-styles.scss */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 120rem;
  margin: 2.5rem auto 0;
  width: 920px;
}

/* line 52, ../scss/_page-styles.scss */
.register-form,
.email-form,
.sign-in-form,
.recover-form,
.subscribe-form {
  width: 42rem;
}

/* line 60, ../scss/_page-styles.scss */
.register-form,
.recover-form {
  margin-bottom: 4rem;
}

/* line 65, ../scss/_page-styles.scss */
.register-form,
.email-form {
  margin-right: 8rem;
}

/* line 70, ../scss/_page-styles.scss */
.sign-in-form {
  margin-bottom: 2rem;
}

/* line 74, ../scss/_page-styles.scss */
.title {
  color: #f4f4f4;
  font-family: "TitilliumText22L_medium";
  font-size: 3.2rem;
  font-weight: 400;
  margin: 0 0 1.5rem 0;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(43, 0, 0, 0.75);
}

/* line 84, ../scss/_page-styles.scss */
.border-box {
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: .4rem;
  padding: 2em;
}

/* line 90, ../scss/_page-styles.scss */
.form-box {
  background-color: #f4f4f4;
  border-radius: .3rem;
  padding: 2em;
}

/* line 96, ../scss/_page-styles.scss */
.sign-in-form .form-box,
.recover-form .form-box {
  padding: 3em 2em;
}

/* line 101, ../scss/_page-styles.scss */
.subscribe-form .form-box {
  padding: 3em 2em 2em;
}

/* line 105, ../scss/_page-styles.scss */
.labels {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 116, ../scss/_page-styles.scss */
.input-group, .input-group-select {
  border: solid 1px #c6c6c6;
  border-radius: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
  margin-bottom: 2em;
}

/* line 124, ../scss/_page-styles.scss */
.input-group-select {
  position: relative;
}

/* line 128, ../scss/_page-styles.scss */
.input-group-select::after {
  border-top: solid 0.8rem #dedede;
  border-bottom: solid .8rem transparent;
  border-left: solid .8rem transparent;
  border-right: solid .8rem transparent;
  content: '';
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + 4px));
          transform: translateY(calc(-50% + 4px));
  width: 0;
}

/* line 143, ../scss/_page-styles.scss */
.img-wrapper {
  position: relative;
  width: 6em;
}

/* line 148, ../scss/_page-styles.scss */
.icons {
  -webkit-filter: invert(87%);
          filter: invert(87%);
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 157, ../scss/_page-styles.scss */
.vertical-separate-line {
  border: solid 1px #e4e4e4;
  background-color: #e4e4e4;
  height: 30px;
  margin: 3px 0 0 0;
  width: 0px;
}

/* line 165, ../scss/_page-styles.scss */
.form-input {
  border: none;
  font-family: "TitilliumText22L_light";
  font-size: 1.6rem;
  outline-color: #addc54;
  padding-left: 2em;
  width: 100%;
}

/* line 174, ../scss/_page-styles.scss */
.form-input::-webkit-input-placeholder {
  color: #afafaf;
  font-family: "TitilliumText22L_light";
  font-size: 1.6rem;
}
.form-input:-ms-input-placeholder {
  color: #afafaf;
  font-family: "TitilliumText22L_light";
  font-size: 1.6rem;
}
.form-input::-ms-input-placeholder {
  color: #afafaf;
  font-family: "TitilliumText22L_light";
  font-size: 1.6rem;
}
.form-input::placeholder {
  color: #afafaf;
  font-family: "TitilliumText22L_light";
  font-size: 1.6rem;
}

/* line 180, ../scss/_page-styles.scss */
.select-location {
  border: none;
  color: #afafaf;
  font-family: "TitilliumText22L_light";
  font-size: 1.6rem;
  outline-color: #addc54;
  padding-left: 2em;
  width: 88%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 192, ../scss/_page-styles.scss */
.select-location option {
  color: black;
}

/* line 196, ../scss/_page-styles.scss */
.wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 202, ../scss/_page-styles.scss */
.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1em;
  margin-top: -1em;
  padding-left: 4em;
  position: relative;
}

/* line 210, ../scss/_page-styles.scss */
.checkbox-align-vertical {
  margin: 2px 0 0 0;
}

/* line 214, ../scss/_page-styles.scss */
.checkbox-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* line 220, ../scss/_page-styles.scss */
.checkbox-outside {
  border: 1px solid #c6c6c6;
  border-radius: .4rem;
  display: block;
  height: 2.3rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -3px;
  width: 2.3rem;
}

/* line 232, ../scss/_page-styles.scss */
.checkbox-inside {
  border-radius: .3rem;
  height: 1.3em;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  width: 1.3em;
}

/* line 242, ../scss/_page-styles.scss */
.checkbox-description {
  color: #afafaf;
  font-family: "TitilliumText22L_light";
  font-size: 1.735rem;
}

/* line 248, ../scss/_page-styles.scss */
.checkbox-input:checked ~ .checkbox-inside {
  -webkit-animation-name: simple-anim;
          animation-name: simple-anim;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, left bottom, from(#addc54), to(#7ec31f));
  background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
  border-color: #3b9a00;
}

/* line 256, ../scss/_page-styles.scss */
.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#addc54), to(#7ec31f));
  background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
  border: solid 1px #3b9a00;
  border-radius: .3rem;
  color: #f4f4f4;
  cursor: pointer;
  font-family: "TitilliumText22L_light";
  font-weight: 400;
  height: 4.8rem;
  text-shadow: 1px 1px 0px rgba(43, 0, 0, 0.75);
}

/* line 268, ../scss/_page-styles.scss */
.btn-large {
  width: 100%;
}

/* line 272, ../scss/_page-styles.scss */
.btn-small {
  height: 4rem;
  width: 14rem;
}

/* line 277, ../scss/_page-styles.scss */
.btn-font-large {
  font-size: 2.4rem;
}

/* line 281, ../scss/_page-styles.scss */
.btn-font-small {
  font-size: 1.8rem;
}

/* line 285, ../scss/_page-styles.scss */
.btn-less-opacity {
  background: -webkit-gradient(linear, left top, left bottom, from(#cde4b0), to(#abd182));
  background: linear-gradient(to bottom, #cde4b0 0%, #abd182 100%);
  border: solid 1px #90ca6d;
}

/* line 290, ../scss/_page-styles.scss */
.btn-danger {
  background: -webkit-gradient(linear, left top, left bottom, from(#f76f7f), to(#f03747));
  background: linear-gradient(to bottom, #f76f7f 0%, #f03747 100%);
}

/* line 294, ../scss/_page-styles.scss */
.message-textarea {
  border: solid 1px #c6c6c6;
  border-radius: .3rem;
  font-family: "TitilliumText22L_light";
  font-size: 1.6rem;
  margin-bottom: 2rem;
  outline-color: #addc54;
  padding: 1rem 1.5rem;
  resize: vertical;
  width: 100%;
}

/* line 306, ../scss/_page-styles.scss */
.message-textarea::-webkit-input-placeholder {
  color: #afafaf;
}
.message-textarea:-ms-input-placeholder {
  color: #afafaf;
}
.message-textarea::-ms-input-placeholder {
  color: #afafaf;
}
.message-textarea::placeholder {
  color: #afafaf;
}

/* line 310, ../scss/_page-styles.scss */
.www {
  display: block;
  margin: 0 auto;
  mix-blend-mode: soft-light;
  width: 246px;
}

@-webkit-keyframes simple-anim {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 1.3em;
    width: 1.3em;
  }
}

@keyframes simple-anim {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 1.3em;
    width: 1.3em;
  }
}
