.container {
	display: grid;
	// row-gap: 4rem;
	margin: 2.5rem auto 0;
	width: 100%;

	@include mediaQueriesMin(448px) {
		padding: 0 2rem;
	}

	@include mediaQueriesMin(598px) {
		padding: 0 4rem;
	}

	@include mediaQueriesMin(768px) {
		justify-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 2rem auto 2rem 4rem 2rem auto 4rem auto;
		padding: 0 1rem;
		width: 100%;
	}

	@include mediaQueriesMin(992px) {
		height: 120rem;
		width: 920px;
	}
}
