.border-box {
	background-color: rgba(0, 0, 0, 0.23);
	border-radius: 0.4rem;
	padding: 2em;
}

.register-form,
.email-form,
.sign-in-form,
.recover-form,
.subscribe-form {
	width: 100%;

	&__title {
		color: $white;
		font-family: $title;
		font-size: $title-size;
		font-weight: $font-normal-weight;
		margin: 0 0 1.5rem 0;
		text-align: center;
		text-shadow: 2px 2px 0px rgba(43, 0, 0, 0.75);
	}

	&__box {
		background-color: $white;
		border-radius: 0.3rem;
		padding: 2em;
	}

	&__input-group,
	&__input-group-select {
		border: solid 1px $gray-input-box;
		border-radius: 0.3rem;
		display: flex;
		height: 4em;
		margin-bottom: 2em;
	}

	&__input-group-select {
		position: relative;

		&::after {
			border-top: solid 0.8rem $gray-light;
			border-bottom: solid 0.8rem transparent;
			border-left: solid 0.8rem transparent;
			border-right: solid 0.8rem transparent;
			content: '';
			height: 0;
			pointer-events: none;
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(calc(-50% + 4px));
			width: 0;
		}
	}

	&__img-wrapper {
		position: relative;
		width: 6em;
	}

	&__icons {
		filter: invert(87%); //daje kolor $gray-light czyli #dedede
		height: auto;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__vertical-separate-line {
		border: solid 1px $gray-separate-line;
		background-color: $gray-separate-line;
		height: 30px;
		margin: 3px 0 0 0;
		width: 0px;
	}

	&__label {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	&__input {
		border: none;
		font-family: $main-font;
		font-size: $font-size-base-small;
		outline-color: $green-light;
		padding-left: 2em;
		width: 100%;

		&::placeholder {
			color: $gray;
			font-family: $main-font;
			font-size: $font-size-base-small;

			@include mediaQueriesMin(480px) {
				font-size: $font-size-base;
			}

			@include mediaQueriesMin(768px) {
				font-size: $font-size-base-small;
			}

			@include mediaQueriesMin(992px) {
				font-size: $font-size-base;
			}
		}

		@include mediaQueriesMin(480px) {
			font-size: $font-size-base;
		}

		@include mediaQueriesMin(768px) {
			font-size: $font-size-base-small;
		}

		@include mediaQueriesMin(992px) {
			font-size: $font-size-base;
		}
	}

	&__select-location {
		border: none;
		color: $gray;
		font-family: $main-font;
		font-size: $font-size-base-small;
		outline-color: $green-light;
		padding-left: 2em;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;

		option {
			color: black;
		}

		@include mediaQueriesMin(480px) {
			font-size: $font-size-base;
		}

		@include mediaQueriesMin(768px) {
			font-size: $font-size-base-small;
		}

		@include mediaQueriesMin(992px) {
			font-size: $font-size-base;
		}
	}

	&__wrapper {
		// align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include mediaQueriesMin(480px) {
			flex-direction: row;
		}

		@include mediaQueriesMin(768px) {
			flex-direction: column;
		}

		@include mediaQueriesMin(992px) {
			flex-direction: row;
		}
	}

	&__checkbox {
		display: inline-flex;
		margin-top: -1em;
		padding-left: 4em;
		position: relative;

		&--align-vertical {
			margin: 2px 0 0 0;
		}
	}

	&__checkbox-input {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked ~ .register-form__checkbox-inside,
		&:checked ~ .email-form__checkbox-inside,
		&:checked ~ .sign-in-form__checkbox-inside,
		&:checked ~ .recover-form__checkbox-inside,
		&:checked ~ .subscribe-form__checkbox-inside {
			animation-name: simple-anim;
			animation-duration: 0.2s;
			animation-fill-mode: forwards;
			background: linear-gradient(to bottom, $green-light 0%, $green 100%);
			border-color: $green-dark;
		}
	}

	&__checkbox-outside {
		border: 1px solid $gray-input-box;
		border-radius: 0.4rem;
		display: block;
		height: 2.3rem;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: -3px;
		width: 2.3rem;
	}

	&__checkbox-inside {
		border-radius: 0.3rem;
		height: 1.3em;
		left: 5px;
		pointer-events: none;
		position: absolute;
		top: 2px;
		width: 1.3em;
	}

	&__checkbox-description {
		color: $gray;
		font-family: $main-font;
		font-size: $font-size-checkbox-small;

		@include mediaQueriesMin(480px) {
			font-size: $font-size-checkbox;
		}

		@include mediaQueriesMin(768px) {
			font-size: $font-size-checkbox-small;
		}

		@include mediaQueriesMin(992px) {
			font-size: $font-size-checkbox;
		}
	}

	&__message-textarea {
		border: solid 1px $gray-input-box;
		border-radius: 0.3rem;
		font-family: $main-font;
		font-size: $font-size-base;
		margin-bottom: 2rem;
		outline-color: $green-light;
		padding: 1rem 1.5rem;
		resize: vertical;
		width: 100%;

		&::placeholder {
			color: $gray;
		}
	}

	@include mediaQueriesMin(768px) {
		width: $form-width-small;
	}

	@include mediaQueriesMin(992px) {
		width: $form-width;
	}
}

// .register-form,
// .email-form,
// .sign-in-form,
// .recover-form {
// 	margin-bottom: 4rem;
// }

// .register-form,
// .email-form {
// 	margin-right: 8rem;
// }

// .sign-in-form {
// 	@include mediaQueriesMin(768px) {
// 		margin-bottom: 2rem;
// 	}
// }

// .sign-in-form .form-box,
// .recover-form .form-box {
// 	padding: 3em 2em;
// }

// .subscribe-form .form-box {
// 	padding: 3em 2em 2em;
// }
