html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url('../img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.logo {
  display: block;
  margin: 0 auto;
  mix-blend-mode: soft-light;
  padding-top: 5.5rem;
  width: 429px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 auto;
  width: 920px;
  
//  @supports (display: grid) {
//    display: grid;
//    grid-template-columns: 1fr 1fr;
//  }
}