// FONTS

$main-font: "TitilliumText22L_light", sans-serif;
$title: "TitilliumText22L_medium";
$font-normal-weight: 400;
// COLORS

$red: #f03747;
$red-light: #f76f7f;
$red-dark: #a2202a;

$green: #7ec31f;
$green-light: #addc54;
$green-dark: #3b9a00;

$white: #f4f4f4;

$gray: #afafaf;
$gray-light: #dedede;
$gray-input-box: #c6c6c6;
$gray-separate-line: #e4e4e4;

// TYPOGRAPHY

$font-size-base: 1.4rem;
$title-size: 3.2rem;

// OBJECTS
$form-width: 42rem;
$btn-width: 8.75rem;